*{
    margin: 0;
    padding: 0;
}

#button1, #button3
{
 margin-left: 100px; 
 margin-bottom: 50px; 
 margin-top: 50px;
 margin-right: 10px;
}
#button1 a, #button2 a, #button3 a
{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: 0.2s;
    margin-top: 50px;
    background-color: white;
    font-weight: bolder;
    cursor: pointer;
}
#button1 a:hover
{
    color: white;
    background-color:crimson;
}
#button2 a:hover
{
  color: white;
  background-color:crimson;
}
#button3 a:hover
{
  color: white;
  background-color:crimson;
}
.back1 {
    background-color: black;
    background-size: 1200px 2000px;
    background-repeat: no-repeat;
    
}

article 
{
display: inline;
margin-top: 20px;

}
aside
{
display:flex;
   padding-bottom: 50px;
   padding-left: 20px;
}
h1 
{
text-align: justify;
color: mediumblue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 1600;
font-style: oblique;
font-size: 200%;
letter-spacing: .2em;
word-spacing: .5em;
line-height: 3em;
}
P{
margin-top: 20px;
text-align: justify;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Geneva, Tahoma, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 120%;
letter-spacing: .02em;
line-height: 2.1em;
border-style: double;
border-color: mediumblue;
border-width: 10px;
padding: 50px;
color: white;
cursor: zoom-in;
}
.resume
{
  border-style: solid;
  border-color: crimson;
  border-radius: 75%/25%;
  padding: 3px;
  color:white;
  background-color: crimson;
  transition: 0.2s;
  cursor: pointer;
}
.resume:hover
{
  border-color: darkgoldenrod;
  background-color: darkgoldenrod;
  color:black;
  font-weight: bold;
}

li
{
    padding-bottom: 20px;
    list-style: none;
}
h2
{
    color:mediumblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .17em;
  line-height: 3.1em;
}
h4
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    font-size: 120%;
  font-weight: 300;
  font-style: italic;
  letter-spacing: .02em;
  line-height: 1.7em;
    color:white;
}
h5
{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    font-size: 105%;
    font-style: normal;
    font-weight: bold;
    letter-spacing: .02em;
  line-height: 1.7em;
}

.video1
{
  padding-right: 80px;
    margin-left: 90px;
}
h5.robot1, h5.robot2
{
  border: double;
  border-radius: 25% / 25%;
  border-color: chartreuse;
  background-color: grey;
  color: black;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
h5.robot1:hover
{ 
  border-color: cornsilk;
  background-color: cornflowerblue;
}
h5.robot2:hover
{
  border-color: cornsilk;
  background-color: cornflowerblue;
}

footer {
  display: flex;  
  background-color: rgb(65, 67, 70, 40%);
    height: 400px;
    cursor: pointer; 
  }
  
  .footer1 {
   display: inline; 
    margin-left:60px;
    margin-top: 40px;
  }
  .footer2 {
    display: inline;
    margin-left: 250px;
  }
  .footer3 {
    display: inline;
    margin-top: 80px;
  }
  
  .footer1 img,
  .footer2 a img,
  .footer3 img 
  {
    transition: 0.3s;
    border-radius: 50%;
  }
  
  .footer1 img:hover {
    transform: rotate(360deg);
  }
  
  .footer2 a img:hover {
    transform: rotate(360deg);
  }
  .footer3 img:hover {
    transform: rotate(360deg);
  }
  